In [330]:
import pandas as pd
# turn of warning messages
pd.options.mode.chained_assignment = None  # default='warn'

# get data
df = pd.read_csv('APY_data_simple crops.csv')
#df.head(5)


#remove numbers

In [331]:
def describe_dataframe(df=pd.DataFrame()):
    """This function generates descriptive stats of a dataframe
    Args:
        df (dataframe): the dataframe to be analyzed
    Returns:
        None

    """
    print("\n\n")
    print("*"*30)
    print("About the Data")
    print("*"*30)
    
    print("Number of rows::",df.shape[0])
    print("Number of columns::",df.shape[1])
    print("\n")
    
    print("Column Names::",df.columns.values.tolist())
    print("\n")
    
    print("Column Data Types::\n",df.dtypes)
    print("\n")
    
    print("Columns with Missing Values::",df.columns[df.isnull().any()].tolist())
    print("\n")
    
    print("Number of rows with Missing Values::",len(pd.isnull(df).any(1).nonzero()[0].tolist()))
    print("\n")
    
    print("Sample Indices with missing data::",pd.isnull(df).any(1).nonzero()[0].tolist()[0:5])
    print("\n")
    
    print("General Stats::")
    print(df.info())
    print("\n")
    
    print("Summary Stats::")
    print(df.describe())
    print("\n")
    
    print("Dataframe Sample Rows::")
    display(df.head(5))

In [332]:
%time describe_dataframe(df)

******************************
About the Data
******************************
Number of rows:: 198619
Number of columns:: 8


Column Names:: ['State', 'District', 'Crop', 'Year', 'Season', 'Area (Hectare)', 'Production (Tonnes)', 'Yield (Tonnes/Hectare)']


Column Data Types::
 State                      object
District                   object
Crop                       object
Year                       object
Season                     object
Area (Hectare)            float64
Production (Tonnes)       float64
Yield (Tonnes/Hectare)    float64
dtype: object


Columns with Missing Values:: ['Production (Tonnes)']


Number of rows with Missing Values:: 3014


Sample Indices with missing data:: [570, 576, 1142, 1207, 1392]


General Stats::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198619 entries, 0 to 198618
Data columns (total 8 columns):
State                     198619 non-null object
District                  198619 non-null object
Crop                      198619 non-null object
Year                      198619 non-null object
Season                    198619 non-null object
Area (Hectare)            198619 non-null float64
Production (Tonnes)       195605 non-null float64
Yield (Tonnes/Hectare)    198619 non-null float64
dtypes: float64(3), object(5)
memory usage: 12.1+ MB
None


Summary Stats::
       Area (Hectare)  Production (Tonnes)  Yield (Tonnes/Hectare)
count    1.986190e+05         1.956050e+05           198619.000000
mean     1.379188e+04         5.331632e+04                4.149695
std      5.325334e+04         4.152088e+05               14.380246
min      4.000000e-02         0.000000e+00                0.000000
25%      9.700000e+01         9.400000e+01                0.500000
50%      7.580000e+02         7.800000e+02                0.910000
75%      5.897000e+03         8.000000e+03                1.870000
max      8.580100e+06         2.004970e+07             1494.000000


Dataframe Sample Rows::

,State,District,Crop,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare)
0,Andaman and Nicobar Islands,,Arhar/Tur,2007-08,Rabi,24.0,129.0,5.35
1,Andaman and Nicobar Islands,,Arhar/Tur,2008-09,Summer,131.0,92.0,0.70
2,Andaman and Nicobar Islands,,Arhar/Tur,2009-10,Summer,331.0,164.0,0.50
3,Andaman and Nicobar Islands,2.NORTH AND MIDDLE ANDAMAN,Arhar/Tur,2010-11,Rabi,294.5,91.0,0.31
4,Andaman and Nicobar Islands,2.NORTH AND MIDDLE ANDAMAN,Arhar/Tur,2011-12,Rabi,210.0,63.0,0.30

Wall time: 248 ms

In [333]:
df1=df[df.District!=" "]
df1['District']=df1['District'].str.replace('[^a-zA-Z ]', '')

In [334]:
df1[df1.State=="Rajasthan"].isnull().sum()
#Null values means Yield is zero

State                       0
District                    0
Crop                        0
Year                        0
Season                      0
Area (Hectare)              0
Production (Tonnes)       425
Yield (Tonnes/Hectare)      0
dtype: int64

In [335]:
df1[(df1.State=="Rajasthan") & (df1['Production (Tonnes)'].isnull())].shape

(425, 8)

In [336]:
#df1[(df1.State=="Rajasthan") & (df1['Production (Tonnes)'].isnull())].shape

In [337]:
#df1[(df1.State=="Rajasthan") & (df1['Production (Tonnes)'].notnull()) & (df1['Yield (Tonnes/Hectare)']==0)]

In [338]:
df1[df1['Production (Tonnes)'].isnull()].shape

(3014, 8)

In [339]:
#Yield =0 ie , Production = 0
df1[df1['Production (Tonnes)'].isnull()]=0

In [340]:
df1[(df1['Yield (Tonnes/Hectare)']!=0) & (df1['Production (Tonnes)']==0)].shape[0]  #297
df1[(df1['Yield (Tonnes/Hectare)']==0) & (df1['Production (Tonnes)']!=0)].shape[0]  #65
df1[(df1['Yield (Tonnes/Hectare)']==0) & (df1['Production (Tonnes)']==0)].shape[0]  #3867 

#useful values
df1[(df1['Yield (Tonnes/Hectare)']!=0) & (df1['Production (Tonnes)']!=0)].shape[0]  #194168

194168

In [341]:
df1=df1[df1['Season']!=0]

In [342]:
print(df1['Season'].value_counts())
#print(df['Year'].value_counts())

Kharif         87932
Rabi           58088
Whole Year     24998
Summer         13972
Winter          5627
Autumn          4766
Name: Season, dtype: int64

In [343]:
#take data for 2005-2015 data 
a=df['Year'].value_counts().index
a=sorted(a)

In [344]:
df1.columns

Index(['State', 'District', 'Crop', 'Year', 'Season', 'Area (Hectare)',
       'Production (Tonnes)', 'Yield (Tonnes/Hectare)'],
      dtype='object')

In [317]:
yearlist=[' 2005-06', ' 2006-07', ' 2007-08', ' 2008-09', ' 2009-10', ' 2010-11', ' 2011-12', ' 2012-13', ' 2013-14', ' 2014-15']

In [318]:
#df1.groupby(['State','District','Season','Crop'])['Year'].count()

In [319]:
#df1[df1.groupby(['State','District','Season','Crop'])['Year']==yearlist]

In [320]:
#d2=df1[(df1['Year']==' 2010-11') & (df1['Season']=='Kharif     ') & (df1.State=="Rajasthan") ].groupby(['State','District','Crop'],sort=False)['Area (Hectare)'].sum()
#d2.sort_index(ascending=False)

In [362]:
df2=df1[(df1['Year']==' 2010-11') & (df1['Season']=='Kharif     ') & (df1.State=="Rajasthan")].sort_values(['District', 'Area (Hectare)'], ascending=[True, False])

In [363]:
df3=df2[['District', 'Crop', 'Area (Hectare)']]

In [364]:
df3.columns

Index(['District', 'Crop', 'Area (Hectare)'], dtype='object')

In [377]:
df3.head(10)

       District                 Crop  Area (Hectare)
137223    AJMER                Jowar        160379.0
133791    AJMER                Bajra         94322.0
139091    AJMER    Moong(Green Gram)         83408.0
138204    AJMER                Maize         35419.0
143006    AJMER              Sesamum         21321.0
145379    AJMER                 Urad          8860.0
136094    AJMER            Groundnut          2030.0
140425    AJMER  Other Kharif pulses          1599.0
139675    AJMER                 Moth          1476.0
143610    AJMER        Small millets           190.0

In [378]:
#df1.to_csv("sort1.csv")
df3.shape[0]

366

In [ ]:
for i in df3.shape[0]:
    if(i!=0):
         if(df3.iloc[i,0]==df3.iloc[i-1,0])
            
    df3.iloc[]

In [381]:
df3.iloc[1,0]

' AJMER'