In [8]:
import pandas as pd
# turn of warning messages
pd.options.mode.chained_assignment = None  # default='warn'

# get data
df = pd.read_csv('APY_data_simple crops.csv')
#df.head(5)


#remove numbers

In [9]:
def describe_dataframe(df=pd.DataFrame()):
    """This function generates descriptive stats of a dataframe
    Args:
        df (dataframe): the dataframe to be analyzed
    Returns:
        None

    """
    print("\n\n")
    print("*"*30)
    print("About the Data")
    print("*"*30)
    
    print("Number of rows::",df.shape[0])
    print("Number of columns::",df.shape[1])
    print("\n")
    
    print("Column Names::",df.columns.values.tolist())
    print("\n")
    
    print("Column Data Types::\n",df.dtypes)
    print("\n")
    
    print("Columns with Missing Values::",df.columns[df.isnull().any()].tolist())
    print("\n")
    
    print("Number of rows with Missing Values::",len(pd.isnull(df).any(1).nonzero()[0].tolist()))
    print("\n")
    
    print("Sample Indices with missing data::",pd.isnull(df).any(1).nonzero()[0].tolist()[0:5])
    print("\n")
    
    print("General Stats::")
    print(df.info())
    print("\n")
    
    print("Summary Stats::")
    print(df.describe())
    print("\n")
    
    print("Dataframe Sample Rows::")
    display(df.head(5))

In [10]:
%time describe_dataframe(df)

******************************
About the Data
******************************
Number of rows:: 198619
Number of columns:: 8


Column Names:: ['State', 'District', 'Crop', 'Year', 'Season', 'Area (Hectare)', 'Production (Tonnes)', 'Yield (Tonnes/Hectare)']


Column Data Types::
 State                      object
District                   object
Crop                       object
Year                       object
Season                     object
Area (Hectare)            float64
Production (Tonnes)       float64
Yield (Tonnes/Hectare)    float64
dtype: object


Columns with Missing Values:: ['Production (Tonnes)']


Number of rows with Missing Values:: 3014


Sample Indices with missing data:: [570, 576, 1142, 1207, 1392]


General Stats::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198619 entries, 0 to 198618
Data columns (total 8 columns):
State                     198619 non-null object
District                  198619 non-null object
Crop                      198619 non-null object
Year                      198619 non-null object
Season                    198619 non-null object
Area (Hectare)            198619 non-null float64
Production (Tonnes)       195605 non-null float64
Yield (Tonnes/Hectare)    198619 non-null float64
dtypes: float64(3), object(5)
memory usage: 12.1+ MB
None


Summary Stats::
       Area (Hectare)  Production (Tonnes)  Yield (Tonnes/Hectare)
count    1.986190e+05         1.956050e+05           198619.000000
mean     1.379188e+04         5.331632e+04                4.149695
std      5.325334e+04         4.152088e+05               14.380246
min      4.000000e-02         0.000000e+00                0.000000
25%      9.700000e+01         9.400000e+01                0.500000
50%      7.580000e+02         7.800000e+02                0.910000
75%      5.897000e+03         8.000000e+03                1.870000
max      8.580100e+06         2.004970e+07             1494.000000


Dataframe Sample Rows::

,State,District,Crop,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare)
0,Andaman and Nicobar Islands,,Arhar/Tur,2007-08,Rabi,24.0,129.0,5.35
1,Andaman and Nicobar Islands,,Arhar/Tur,2008-09,Summer,131.0,92.0,0.70
2,Andaman and Nicobar Islands,,Arhar/Tur,2009-10,Summer,331.0,164.0,0.50
3,Andaman and Nicobar Islands,2.NORTH AND MIDDLE ANDAMAN,Arhar/Tur,2010-11,Rabi,294.5,91.0,0.31
4,Andaman and Nicobar Islands,2.NORTH AND MIDDLE ANDAMAN,Arhar/Tur,2011-12,Rabi,210.0,63.0,0.30

CPU times: user 329 ms, sys: 45.9 ms, total: 375 ms
Wall time: 379 ms

In [11]:
df1=df[df.District!=" "]
df1['District']=df1['District'].str.replace('[^a-zA-Z ]', '')

In [12]:
#Yield =0 ie , Production = 0
df1[df1['Production (Tonnes)'].isnull()]=0

In [13]:
df1=df1[df1['Season']!=0]

In [14]:
yearlist=[' 2009-10', ' 2010-11', ' 2011-12', ' 2012-13', ' 2013-14', ' 2014-15', ' 2015-16']
for year in yearlist:
    df2=df1[(df1['Year']==year) & ((df1['Season']=='Rabi       ') | (df1['Season']=='Whole Year ')) & ((df1.State=="Bihar") | (df1.State=="Chhattisgarh")  | (df1.State=="Gujarat") | (df1.State=="Haryana") | (df1.State=="Madhya Pradesh") | (df1.State=="Maharashtra") | (df1.State=="Punjab") | (df1.State=="Uttar Pradesh") | (df1.State=="Rajasthan"))].sort_values(['State','District', 'Area (Hectare)'], ascending=[True,True, False])
    df3=df2[[ 'State', 'District', 'Crop', 'Season', 'Area (Hectare)' ]]
    df3['TotalDistrictArea'] =  df3.groupby(['State','District'],sort=False)['Area (Hectare)'].transform('sum')
    df3 = df3.groupby(['State','District'],sort=False).head(2).reset_index(drop=True)
    df3['TopTwoCropAreaPercent'] = df3['Area (Hectare)']/df3['TotalDistrictArea']
    df3.to_csv("toptwopercentRabi{}.csv".format(year.strip()))