In [48]:
import pandas as pd
import seaborn as sns
%matplotlib inline
# turn of warning messages
pd.options.mode.chained_assignment = None  # default='warn'

# get data
df = pd.read_csv('APY_data_simple crops.csv')
#df.head(5)

In [49]:
def describe_dataframe(df=pd.DataFrame()):
    """This function generates descriptive stats of a dataframe
    Args:
        df (dataframe): the dataframe to be analyzed
    Returns:
        None

    """
    print("\n\n")
    print("*"*30)
    print("About the Data")
    print("*"*30)
    
    print("Number of rows::",df.shape[0])
    print("Number of columns::",df.shape[1])
    print("\n")
    
    print("Column Names::",df.columns.values.tolist())
    print("\n")
    
    print("Column Data Types::\n",df.dtypes)
    print("\n")
    
    print("Columns with Missing Values::",df.columns[df.isnull().any()].tolist())
    print("\n")
    
    print("Number of rows with Missing Values::",len(pd.isnull(df).any(1).nonzero()[0].tolist()))
    print("\n")
    
    print("Sample Indices with missing data::",pd.isnull(df).any(1).nonzero()[0].tolist()[0:5])
    print("\n")
    
    print("General Stats::")
    print(df.info())
    print("\n")
    
    print("Summary Stats::")
    print(df.describe())
    print("\n")
    
    print("Dataframe Sample Rows::")
    display(df.head(5))

In [50]:
%time describe_dataframe(df)

******************************
About the Data
******************************
Number of rows:: 195383
Number of columns:: 8


Column Names:: ['State', 'District', 'Crop', 'Year', 'Season', 'Area (Hectare)', 'Production (Tonnes)', 'Yield (Tonnes/Hectare)']


Column Data Types::
 State                      object
District                   object
Crop                       object
Year                        int64
Season                     object
Area (Hectare)            float64
Production (Tonnes)       float64
Yield (Tonnes/Hectare)    float64
dtype: object


Columns with Missing Values:: []


Number of rows with Missing Values:: 0


Sample Indices with missing data:: []


General Stats::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195383 entries, 0 to 195382
Data columns (total 8 columns):
State                     195383 non-null object
District                  195383 non-null object
Crop                      195383 non-null object
Year                      195383 non-null int64
Season                    195383 non-null object
Area (Hectare)            195383 non-null float64
Production (Tonnes)       195383 non-null float64
Yield (Tonnes/Hectare)    195383 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 11.9+ MB
None


Summary Stats::
                Year  Area (Hectare)  Production (Tonnes)  \
count  195383.000000    1.953830e+05         1.953830e+05
mean     2006.077791    1.399179e+04         5.336310e+04
std         5.263865    5.362711e+04         4.154413e+05
min      1997.000000    1.000000e-01         0.000000e+00
25%      2002.000000    1.000000e+02         9.400000e+01
50%      2006.000000    8.000000e+02         7.800000e+02
75%      2011.000000    6.050500e+03         8.000000e+03
max      2015.000000    8.580100e+06         2.004970e+07

       Yield (Tonnes/Hectare)
count           195383.000000
mean                 4.210519
std                 14.479376
min                  0.000000
25%                  0.500000
50%                  0.930000
75%                  1.900000
max               1494.000000


Dataframe Sample Rows::

,State,District,Crop,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare)
0,Andaman and Nicobar Islands,North And Middle Andaman,Arhar/Tur,2010,Rabi,294.5,91.0,0.31
1,Andaman and Nicobar Islands,North And Middle Andaman,Arhar/Tur,2011,Rabi,210.0,63.0,0.30
2,Andaman and Nicobar Islands,North And Middle Andaman,Arhar/Tur,2012,Rabi,52.5,15.0,0.29
3,Andaman and Nicobar Islands,North And Middle Andaman,Arhar/Tur,2013,Rabi,1.0,3.0,3.00
4,Andaman and Nicobar Islands,North And Middle Andaman,Arhar/Tur,2014,Rabi,13.9,14.0,0.99

CPU times: user 335 ms, sys: 24.6 ms, total: 359 ms
Wall time: 357 ms

In [31]:
#remove numbers
df1=df[df.District!=" "]
df1['District']=df1['District'].str.replace('[^a-zA-Z ]', '')

In [32]:
#Yield =0 ie , Production = 0
df1[df1['Production (Tonnes)'].isnull()]=0

In [33]:
df1=df1[df1['Season']!=0]

In [35]:
df.columns

Index(['State', 'District', 'Crop', 'Year', 'Season', 'Area (Hectare)',
       'Production (Tonnes)', 'Yield (Tonnes/Hectare)'],
      dtype='object')

In [36]:
#2010-11  --> 2010
df1.iloc[:,3]=df.iloc[:,3].str.split('-').str.get(0)

In [37]:
# capitalize the first letter of each word  of District
df1.iloc[:,1]=df1.iloc[:,1].str.lower().str.title()

In [38]:
df1.sample()

,State,District,Crop,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare)
190745,Uttarakhand,Tehri Garhwal,Urad,2007,Kharif,1599.0,1548.0,0.97

In [39]:
#strip the spaces from text fields
df1['State'] = df1['State'].str.strip()
df1['District'] = df1['District'].str.strip()
df1['Crop'] = df1['Crop'].str.strip()
df1['Year'] = df1['Year'].str.strip()
df1['Season'] = df1['Season'].str.strip()

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195383 entries, 3 to 198618
Data columns (total 8 columns):
State                     195383 non-null object
District                  195383 non-null object
Crop                      195383 non-null object
Year                      195383 non-null object
Season                    195383 non-null object
Area (Hectare)            195383 non-null float64
Production (Tonnes)       195383 non-null float64
Yield (Tonnes/Hectare)    195383 non-null float64
dtypes: float64(3), object(5)
memory usage: 13.4+ MB

In [47]:
df1.Year=df1.Year.astype('int')
df1.to_csv('test.csv', index=False)